name: "Automated Tests"

on:
 - pull_request
 - push
 - workflow_dispatch
#  - schedule:
#      - cron: '0 0 * * 0'  # Runs every Sunday at midnight
jobs:
 playwright-tests:
  runs-on: ubuntu-22.04
  container: mcr.microsoft.com/playwright:v1.57.0-jammy
  steps:
   - name: 'Checkout repository'
     uses: actions/checkout@v4
   - name: 'Install node js'
     uses: actions/setup-node@v4
     with:
       node-version: '22'
   - name: 'Install dependencies'
     run: npm ci
   - name: 'Run Playwright tests'
     run: npm test
     env:
       BASE_URL: https://qauto.forstudy.space/
       HTTP_CREDENTIALS_USERNAME: guest
       HTTP_CREDENTIALS_PASSWORD: welcome2qauto
   - name: 'Upload test report to artifacts'
     uses: actions/upload-artifact@v4
     with:
       name: Playwright Test Report
       path: playwright-report/
       retention-days: 4